<head>
  
  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>  
</head>

<body>
<section style="padding-top:30px">
<div class="container">
  <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px;">Accounts</p></b></button>
  &emsp;
  <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Company Registration</p></b></button>
  <br>
</div>

  <form action="">
    <div class="container-sm ">

      <div class="row" style="padding-top: 5px;">
        <div class="col-sm-3">
          <label class="form-control"  style="border-radius:12px;padding: 10px;"> Company Name </label>
          
        </div>
        <div class="col-sm-9">
          <input type="text " style="border-radius:12px;" class="form-control"  placeholder="" >
        </div>
      </div>
    
      <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"   style="border-radius:12px;padding: 10px;">Company Reg No</label>       
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">App Reg Date</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">Registering Mob No</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">Email ID</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">Admin User Name</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">Admin Password</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius: 12px;" class="form-control" placeholder="" name="">
      </div>
    </div>
    <br><br>
    <h1>USER 1</h1>
    <div class="row">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">User Name</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">Password</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">Mobile Number</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">User Access</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius: 12px;" class="form-control" placeholder="" name="">
      </div>
    </div>
  </div>
    <br>
<div class="container ">
  <div class="row">
    <div class="col-sm-6">
    <input type="file" id="myFile" class="form-control-file border " placeholder="Logo Image">


  </div>
  <div class="col-sm-6">
    <input type="file" id="myFile" class="form-control-file border " placeholder="Background Image">
  </div>
</div>

  </div>
    <script>
    function myFunction() {
      var x = document.getElementById("myFile");
      x.disabled = true;
    }
    </script>
<br>
    <div class="container">
    <button type="submit" onclick="myFunction()" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
  </div>
  </form>


</section>
</body>
 
