<body>
    <section style="padding-top:30px">
    <div class="container">
      <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px; color: black;" >Receipts</p></b></button>

    </div>

      <form (ngSubmit)="onSubmit1()" action="sales">
        <div class="container ">

        <div class="row" style="padding-top: 15px; " >

          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Receipt Number</label>
            <!-- <input   type="text " style="border-radius:12px;" class="form-control" placeholder="Receipt Number" > -->
          </div>

          <div  class="col-sm-4" >
            <input   type="text " style="border-radius:12px;" class="form-control" placeholder="">
          </div>
          <div class="col-sm-2" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Date</label>
            <!-- <input   type="text " style="border-radius:12px;" class="form-control" placeholder="Date"> -->
          </div>
          <div class="col-sm-3"  >
            <input   type="date" style="border-radius: 12px;" class="form-control" placeholder="">
          </div>
        </div>



          <div class="row" style="padding-top: 5px; ">
            <div class="col-sm-3" >
               <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Internal Ref.Number</label>
              <!-- <input   type="text " style="border-radius: 12px;" class="form-control" placeholder="Internal Ref.Number" > -->
            </div>
            <div class="col-sm-4" >
              <input   type="text"  style="border-radius: 12px;" class="form-control" placeholder="">
            </div>
            <div class="col-sm-2" >
               <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Due On</label>
              <!-- <input   type="text " style="border-radius: 12px;" class="form-control" placeholder="Due On"> -->
            </div>
            <div class="col-sm-3" >
              <input   type="date" style="border-radius: 12px;" class="form-control" placeholder="">
            </div>
        </div>

        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">User ID</label>
            <!-- <input type="text " style="border-radius: 12px;" class="form-control" placeholder=" User ID" > -->
          </div>
          <div class="col-sm-4" >
            <input type="text"  style="border-radius: 12px;" class="form-control" placeholder="">
          </div>
          <div class="col-sm-2" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Credit Limit Amount</label>
            <!-- <input type="text " style="border-radius: 12px;" class="form-control" placeholder="Credit Limit Amount" > -->
          </div>
          <div class="col-sm-3" >
            <input type="text " style="border-radius: 12px;" class="form-control" placeholder="">
          </div>
        </div>

  <br><br>
        <div class="row" style="padding-top: 5px; padding-left: 100px; padding-right: 100px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Customer ID</label>
            <!-- <input type="text " style="border-radius: 12px; color: white;" class="form-control" placeholder=" Customer ID" > -->
          </div>
          <div class="col-sm-7" >
            <input type="text"  style="border-radius: 12px;" class="form-control" >
          </div>
        </div>

        <div class="row" style="padding-top: 5px; padding-left: 100px; padding-right: 100px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Customer Name</label>
            <!-- <input type="text " style="border-radius: 12px" class="form-control" placeholder=" Customer Name" > -->
          </div>
          <div class="col-sm-7" >
            <input type="text"  style="border-radius: 12px;" class="form-control" >
          </div>
        </div>
        <br><br>

        <div class="container">

          <table class="table table-bordered">
            <thead>
              <th>SI No</th>
              <th>Invoice Number</th>
              <th>Invoice Date</th>
              <th>Due Date</th>
              <th>Invoice Amount</th>
              <th>Received Amount</th>
              <th>Outstanding</th>
              <th>Discount</th>
              <th>Balane Amount</th>
              <th>Tick Space</th>
              <th>Partial</th>
            </thead>
            <tbody>
              <tr id='addr0'>
                  <td>1.</td>
                  <td><input type="text" name="invoice_no1" class="form-control"/></td>
                  <td><input type="text" name="invoice_date1" class="form-control"/></td>
                  <td><input type="text" name="duedate1" class="form-control"/></td>
                  <td><input type="text" name="invoice_amt1" class="form-control"/></td>
                  <td><input type="text" name="received_amt1" class="form-control"/></td>
                  <td><input type="text" name="outstanding1" placeholder='0.00' class="form-control qty" step="0" min="0"/></td>
                  <td><input type="text" name="discount1" placeholder='Enter Price' class="form-control price" step="0.00" min="0"/></td>
                  <td><input type="text" name="balance_amt1" placeholder='0.00' class="form-control total" /></td>
                  <td><input type="text" name="tick_space1" class="form-control"/></td>
                  <td><input type="text" name="partial1" class="form-control"/></td>
              </tr>
              <tr id='addr1'>
                  <td>2.</td>
                  <td><input type="text" name="invoice_no2" class="form-control"/></td>
                  <td><input type="text" name="invoice_date2" class="form-control"/></td>
                  <td><input type="text" name="duedate2" class="form-control"/></td>
                  <td><input type="text" name="invoice_amt2" class="form-control"/></td>
                  <td><input type="text" name="received_amt2" class="form-control"/></td>
                  <td><input type="text" name="outstanding2" placeholder='0.00' class="form-control qty" step="0" min="0"/></td>
                  <td><input type="text" name="discount2" placeholder='Enter Price' class="form-control price" step="0.00" min="0"/></td>
                  <td><input type="text" name="balance_amt2" placeholder='0.00' class="form-control total" /></td>
                  <td><input type="text" name="tick_space2" class="form-control"/></td>
                  <td><input type="text" name="partial2" class="form-control"/></td>
              </tr>
              <tr id='addr2'>
                  <td>3.</td>
                  <td><input type="text" name="invoice_no3" class="form-control"/></td>
                  <td><input type="text" name="invoice_date3" class="form-control"/></td>
                  <td><input type="text" name="duedate3" class="form-control"/></td>
                  <td><input type="text" name="invoice_amt3" class="form-control"/></td>
                  <td><input type="text" name="received_amt3" class="form-control"/></td>
                  <td><input type="text" name="outstanding3" placeholder='0.00' class="form-control qty" step="0" min="0"/></td>
                  <td><input type="text" name="discount3" placeholder='Enter Price' class="form-control price" step="0.00" min="0"/></td>
                  <td><input type="text" name="balance_amt3" placeholder='0.00' class="form-control total" readonly/></td>
                  <td><input type="text" name="tick_space3" class="form-control"/></td>
                  <td><input type="text" name="partial3" class="form-control"/></td>
              </tr>
              </tbody>
          </table>
        </div>
  
  <br>
  
  
        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-2" style="padding-left: 3px;">
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Total Outstanding</label>
            <!-- <input  type="text " style="border-radius: 12px;" class="form-control" placeholder=" Total" > -->
          </div>
          <div class="col-sm-3" >
            <input  type="text"  style="border-radius: 12px;" name="total1" placeholder='0.00' class="form-control" id="total1">
          </div>
          <div class="col-sm-7" style="padding-left: 3px;" >
            <input  type="text " style="border-radius: 12px;" class="form-control" name="total2" placeholder='Enter in words'>
          </div>
        </div>
  
        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Discount </label>
            <!-- <input type="text " style="border-radius: 12px;" class="form-control" placeholder=" On Account" > -->
          </div>
          <div class="col" >
            <input type="text " style="border-radius: 12px;" name="discount" class="form-control" id="discount" placeholder="0">
          </div>
        </div>
  
        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-2" style="padding-left: 3px;">
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Net Outstanding</label>
            <!-- <input  type="text " style="border-radius: 12px;" class="form-control" placeholder=" Total" > -->
          </div>
          <div class="col-sm-3" >
            <input  type="text"  style="border-radius: 12px;" name="total3" placeholder='0.00' class="form-control" id="total3">
          </div>
          <div class="col-sm-7" style="padding-left: 3px;" >
            <input  type="text " style="border-radius: 12px;" class="form-control" name="total4" placeholder='Enter in words'>
          </div>
        </div>
  
        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;">On Account</label>
            <!-- <input type="text " style="border-radius: 12px;" class="form-control" placeholder=" Discount" > -->
          </div>
          <div class="col" >
            <input type="text " style="border-radius: 12px;" name="on_account" class="form-control" id="on_account" placeholder="0.00 (optional)">
          </div>
        </div>
  
        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-2" style="padding-left: 3px;">
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Total</label>
            <!-- <input  type="text " style="border-radius: 12px;" class="form-control" placeholder=" Total" > -->
          </div>
          <div class="col-sm-3" >
            <input  type="text"  style="border-radius: 12px;" name="total5" placeholder='0.00' class="form-control" id="total5">
          </div>
          <div class="col-sm-7" style="padding-left: 3px;" >
            <input  type="text " style="border-radius: 12px;" class="form-control" name="total6" placeholder='Enter in words'>
          </div>
        </div>

      </div>
        <br>
        <div class="container">
        <button type="submit"  style="border-radius: 12px; font-size:25px; " class="  btn btn-lg btn-block">SUBMIT</button>
      </div>
      </form>


    </section>
    </body>




