<head>
  
  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>  
</head>

<body>
  <section style="padding-top:30px">
    <div class="container">
      <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px;">Registration </p></b></button>
       &emsp;
      <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Employee  Registration</p></b></button>
      <br>
    </div>

    <form (ngSubmit)="onSubmit1()" action="home-page">
      <div class="container-sm ">

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Employee ID </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Employee ID" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name=""  placeholder="" >
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Employee Name </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Employee Name" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="emp_name" placeholder="" >
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Nationality </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Nationality" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="nationality" placeholder="" >
          </div>
        </div>



        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Birth Date </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Birth Date" > -->
          </div>
          <div class="col-sm-9">
            <input type="date" style="border-radius:12px;" class="form-control" name="birth_date" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Joining Date </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Joining Date" > -->
          </div>
          <div class="col-sm-9">
            <input type="date" style="border-radius:12px;" class="form-control" name="joining_date" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Designation </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Designation" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="designation" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Department </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Department" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="department" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Salary Category </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Salary Category" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="salary_categ" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Passport Details </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Passort Details  " > -->
          </div>
          <div class="col">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> No </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="No" > -->
          </div>
          <div class="col">
            <input type="text " style="border-radius:12px;" class="form-control" name="passport_no" placeholder="" >
          </div>
          <div class="col">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Expires On </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Expires On" > -->
          </div>
          <div class="col">
            <input type="date" style="border-radius:12px;" class="form-control" name="expir" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Id Details </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Id DetailsId Details" > -->
          </div>
          <div class="col">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> No </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="No" > -->
          </div>
          <div class="col">
            <input type="text " style="border-radius:12px;" class="form-control" name="id_no" placeholder="" >
          </div>
          <div class="col">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Expires On </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Expires On" > -->
          </div>
          <div class="col">
            <input type="text " style="border-radius:12px;" class="form-control" name="id_expir" placeholder="" >
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Add Image </label>
            <!-- <input type="text" style="border-radius:12px;" class="form-control"  placeholder="Add Image" > -->
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control" name="img1" placeholder="Image-1" >
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control" name="img2" placeholder="Image-2" >
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control" name="img3" placeholder="Image-3" >
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control" name="img4" placeholder="Image-4" >
          </div>
        </div>
        <script>
          function myFunction() {
            var x = document.getElementById("myFile");
            x.disabled = true;
          }
          </script>

          <div class="grid-container" style="padding-top: 15px;" >

            

              <div class="row" style="padding-top: 35px;">
                <div class="col-3">
                  <label class="form-control"  style="border-radius:12px;"> Basic </label>
                  
                </div>
                
                <div class="col-3">
                  <input type="text " style="border-radius:12px;" class="form-control" name="basic" placeholder="" >
                </div>
                <div class="col-3">
                  <label class="form-control"  style="border-radius:12px;"> Housing </label>
                 
                </div>
                <div class="col-3">
                  <input type="text " style="border-radius:12px;" class="form-control" name="housing" placeholder="" >
                </div>
              </div>
              <div class="row" style="padding-top: 5px;">
                <div class="col-3">
                  <label class="form-control"  style="border-radius:12px;"> Transportation </label>
                  
                </div>
                
                <div class="col-3">
                  <input type="text " style="border-radius:12px;" class="form-control" name="transportation" placeholder="" >
                </div>
                <div class="col-3">
                  <label class="form-control"  style="border-radius:12px;"> Food </label>
                  
                </div>
                <div class="col-3">
                  <input type="text " style="border-radius:12px;" class="form-control" name="food" placeholder="" >
                </div>
              </div>
              <div class="row" style="padding-top: 5px;">
                <div class="col-3">
                  <label class="form-control"  style="border-radius:12px;"> Mobile </label>
                  
                </div>
                
                <div class="col-3">
                  <input type="text " style="border-radius:12px;" class="form-control" name="mobile" placeholder="" >
                </div>
                <div class="col-3">
                  <label class="form-control"  style="border-radius:12px;"> Other </label>
                 
                </div>
                <div class="col-3">
                  <input type="text " style="border-radius:12px;" class="form-control" name="other" placeholder="" >
                </div>
              </div>
              <div class="row" style="padding-top: 5px;">
                <div class="col-3">
                  <label class="form-control"  style="border-radius:12px;"> Net Pay </label>
                 
                </div>
                <div class="col-9">
                  <input type="text " style="border-radius:12px;" class="form-control" name="netpay" placeholder="" >
                </div>
              </div>
    
            

      </div>

      </div>



      <div class="container">
        <div class="row" style="padding-top: 15px;">

            <button type="submit" style="border-radius: 12px;width:100%;" class="btn btn-lg btn-block">Submit & Register New</button>





        </div>
      </div>
    </form>
    <br>
    <form (ngSubmit)="onSubmit2()" action="home-page">

      <button type="submit" style="border-radius: 12px;width: 80%;margin-left: 10%;margin-right: 50%;" class=" a btn btn-lg btn-block">Submit & Go to Home Page</button>
    </form>
    </section>
  </body>


