<html>
<head>
  
    <style>
      body
      {
        font-family: 'Times New Roman', Times, serif;
      }
    </style>  
 

<script>
function validateForm() {
  if(document.alertform.ucontactno.value=="")
  {
    alert("enter the mobile number");
    document.alertform.ucontactno.focus();
    return false;
  }
}
</script>
</head>
<body>
  <section style="padding-top:30px">
    <div class="container">
      <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px;">Grand Hyper market </p></b></button>
       &emsp;
      <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">User Registration</p></b></button>
      <br>
    </div>

    <form  (ngSubmit)="onSubmit()" method="post" action="register" name="alertform" >
      <div class="container-sm ">
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Customer Id </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Username" > -->
          </div>
          <div class="col-sm-9">
            <input type="number " style="border-radius:12px;" class="form-control" name="customer id" placeholder=""  required >

          </div>

        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Mobile No </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Username" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="ucontactno" placeholder="" required>
          </div>
        </div>    

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Enter Username </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Username" > -->
          </div>

          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="uName" placeholder="" >
            
                  
          </div>
        </div>

       <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Enter 4 digit Password</label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Password" > -->
          </div>
          <div class="col-sm-9">
            <input type="password" style="border-radius:12px;" class="form-control" name="upassword" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Re-Enter 4 digit Password</label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Password" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="upassword" placeholder="" ng-model="myName" required>

          </div>
        </div>
      </div>

      <div class="container" style="padding-top: 50px;">
        <input type="submit" onclick="return validateForm()" style="border-radius: 12px; font-size:25px;" class="btn btn-lg btn-block" value="Submit">
      </div>
    </form>
  </section>

  </body>

</html>