
<head>
  
  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>  
</head>
<body>
  <section style="padding-top:30px">
    <div class="container">
      <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px;">Registration </p></b></button>
       &emsp;
      <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Job Registration</p></b></button>
      <br>
    </div>

    <form (ngSubmit)="onSubmit1()" action="home-page">
      <div class="container-sm ">

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Job ID </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Job ID" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control"  placeholder="" >
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Job Name </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Job Name" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="	job_name" placeholder="" >
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Job Description </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Job Description" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="job_desc" placeholder="" >
          </div>
        </div>

      </div>
      <div class="container">
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Add Image </label>
            <!-- <input type="text" style="border-radius:12px;" class="form-control"  placeholder="Add Image" > -->
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control" name="imag1" placeholder="Image-1" >
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control" name="imag2"  placeholder="Image-2" >
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control" name="imag3" placeholder="Image-3" >
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control" name="imag4" placeholder="Image-4" >
          </div>
        </div>
        <script>
          function myFunction() {
            var x = document.getElementById("myFile");
            x.disabled = true;
          }
          </script>

      </div>

      <div class="container">
        <div class="row" style="padding-top: 15px;">

            <button type="submit" style="border-radius: 12px;width:100%;" class="btn btn-lg btn-block">Submit & Register New</button>





        </div>
      </div>
    </form>
    <br>
    <form (ngSubmit)="onSubmit2()" action="home-page">

      <button type="submit" style="border-radius: 12px;width: 80%;margin-left: 10%;margin-right: 50%;" class=" a btn btn-lg btn-block">Submit & Go to Home Page</button>
    </form>
    </section>
  </body>
