
<body>
  <section style="padding-top:30px">
  <div class="container">

    <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Customer Master data</p></b></button>
    <br>
  </div>

    <form form (ngSubmit)="onSubmit1()" action="reports">
      <div class="container-sm ">

        <div class="row">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Date </label>

          </div>
          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" name="pswd">
          </div>
        </div>



          <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Report Date </label>

          </div>

          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" name="">
          </div>
        </div>






      <br><br>


      <div class="container">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sl.no</th>
              <th>Customer ID</th>
              <th>Customer Name</th>
              <th>Location and Address</th>
              <th>Contact Person</th>
              <th>Contact Person mob no</th>
              <th> Credit Limit Amount</th>

              <th>Credit Limit duration</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>

              <td></td>
              <td></td>

              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>

              <td ></td>
              <td ></td>
              <td ></td>

              <td ></td>
              <td ></td>
              <td ></td>
              <td ></td>

              <td></td>
            </tr>

          </tbody>
        </table>
      </div>









    </div>
      <br>
  <div class="container ">


    </div>
      <script>
      function myFunction() {
        var x = document.getElementById("myFile");
        x.disabled = true;
      }
      </script>
  <br>
      <div class="container">
      <button type="submit" onclick="myFunction()" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
    </div>
    </form>


  </section>
  </body>
