<body>
  <section style="padding-top:30px">
  <div class="container">
    <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px; color: black;" >Purchase Return</p></b></button>

  </div>

    <form (ngSubmit)="onSubmit1()" action="purchase">
      <div class="container ">

      <div class="row" style="padding-top: 15px; " >

        <div class="col-sm-3" >
          <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Invoice Number</label>
          <!-- <input   type="text " style="border-radius:12px;" class="form-control" placeholder="Invoice Number" > -->
        </div>

        <div  class="col-sm-4" >
          <input   type="text " style="border-radius:12px;" class="form-control" placeholder="">
        </div>




        <div class="col-sm-2" >
          <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Date</label>
          <!-- <input   type="text " style="border-radius:12px;" class="form-control" placeholder="Date"> -->
        </div>
        <div class="col-sm-3"  >
          <input   type="date" style="border-radius: 12px;" class="form-control" placeholder="">
        </div>
      </div>



        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Internal Ref.Number</label>
            <!-- <input   type="text " style="border-radius: 12px;" class="form-control" placeholder="Internal Ref.Number" > -->
          </div>
          <div class="col-sm-4" >
            <input   type="text"  style="border-radius: 12px;" class="form-control" placeholder="">
          </div>
          <div class="col-sm-2" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Due On</label>
            <!-- <input   type="text " style="border-radius: 12px;" class="form-control" placeholder="Due On"> -->
          </div>
          <div class="col-sm-3" >
            <input   type="date" style="border-radius: 12px;" class="form-control" placeholder="">
          </div>
      </div>

      <div class="row" style="padding-top: 5px; ">
        <div class="col-sm-3" >
          <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">User ID</label>
          <!-- <input type="text " style="border-radius: 12px;" class="form-control" placeholder=" User ID" > -->
        </div>
        <div class="col-sm-4" >
          <input type="text"  style="border-radius: 12px;" class="form-control" placeholder="">
        </div>
        <div class="col-sm-2" >
          <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Credit Limit Amount</label>
          <!-- <input type="text " style="border-radius: 12px;" class="form-control" placeholder="Credit Limit Amount"> -->
        </div>
        <div class="col-sm-3" >
          <input type="text " style="border-radius: 12px;" class="form-control" placeholder="">
        </div>
      </div>

<br><br>
      <div class="row" style="padding-top: 5px; padding-left: 100px; padding-right: 100px;">
        <div class="col-sm-5" >
          <label class="form-control"  style="border-radius:12px;padding: 10px;">Supplier ID</label>
          <!-- <input type="text " style="border-radius: 12px; color: white;" class="form-control" placeholder=" Supplier ID" > -->
        </div>
        <div class="col-sm-7" >
          <input type="text"  style="border-radius: 12px;" class="form-control" >
        </div>
      </div>

      <div class="row" style="padding-top: 5px; padding-left: 100px; padding-right: 100px;">
        <div class="col-sm-5" >
          <label class="form-control"  style="border-radius:12px;padding: 10px;">Supplier Name</label>
          <!-- <input type="text " style="border-radius: 12px" class="form-control" placeholder=" Supplier Name" > -->
        </div>
        <div class="col-sm-7" >
          <input type="text"  style="border-radius: 12px;" class="form-control" >
        </div>
      </div>
      <br><br>

      <div class="container">

        <table class="table table-bordered">
          <thead>
            <th></th>
            <th> Item ID </th>
            <th>Item Details</th>
            <th> Price </th>
            <th> Quantity </th>
            <th> Amount </th>
            <th> Sales Executive </th>
            <th> JOB </th>
          </thead>
          <tbody>
            <tr id='addr0'>
                <td></td>
                <td><input type="text" name="item_id1" class="form-control"/></td>
                <td><input type="text"  name="item_details1" class="form-control"/></td>
                <td><input type="number"  name="price" placeholder='Enter Price' class="form-control price" step="0.00" min="0"/></td>
                <td><input type="number"  name="qty" placeholder='Enter Qty' class="form-control qty" step="0" min="0"/></td>
                <td><input type="number"  name="total" placeholder='0.00' class="form-control total" readonly/></td>
                <td><input type="text"  name="sales_ex1" class="form-control"/></td>
                <td><input type="text"  name="job1" class="form-control"/></td>
            </tr>
            <tr id='addr1'>
                <td></td>
                <td><input type="text"  name="item_id2" class="form-control"/></td>
                <td><input type="text"  name="item_details2" class="form-control"/></td>
                <td><input type="number"  name="price1_2" placeholder='Enter Price' class="form-control price" step="0.00" min="0"/></td>
                <td><input type="number"  name="quantity2" placeholder='Enter Qty' class="form-control qty" step="0" min="0"/></td>
                <td><input type="number"  name="amount2" placeholder='0.00' class="form-control total" /></td>
                <td><input type="text"  name="sales_ex2" class="form-control"/></td>
                <td><input type="text"  name="job2" class="form-control"/></td>
            </tr>

            </tbody>
        </table>
      </div>


        <br>
      <div class="row" style="padding-top: 5px; ">
        <div class="col-sm-2" style="padding-left: 3px;">
          <label class="form-control"  style="border-radius:12px;padding: 10px;">Labour Charge</label>
        </div>
        <div class="col-sm-4" >
          <input  type="text"  style="border-radius: 12px;" class="form-control" name="labour_charge" placeholder='0.00'>
        </div>
        <div class="col-sm-2" style="padding-left: 3px;">
        <label class="form-control"  style="border-radius:12px;padding: 10px;"> Other Charges</label>
        </div>
        <div class="col-sm-4" >
          <input type="text " style="border-radius: 12px;" class="form-control" name="other_charge" placeholder='0.00'>
        </div>
      </div>

      <div class="row" style="padding-top: 5px; ">
        <div class="col-sm-2" style="padding-left: 3px;">
          <label class="form-control"  style="border-radius:12px;padding: 10px;">Total </label>
        </div>
        <div class="col-sm-3" >
          <input  type="text"  style="border-radius: 12px;" name="total1" placeholder='0.00' class="form-control">
        </div>
        <div class="col-sm-7" style="padding-left: 3px;" >
          <input  type="text " style="border-radius: 12px;" class="form-control" name="total2" placeholder='Enter in words'>
        </div>
      </div>

      <div class="row" style="padding-top: 5px; ">
        <div class="col-sm-3" >
          <label class="form-control"  style="border-radius:12px;padding: 10px;"> Discount</label>
        </div>
        <div class="col" >
          <input type="text " style="border-radius: 12px;" class="form-control" name="discount" id="discount" placeholder="0">
        </div>
      </div>

      <div class="row" style="padding-top: 5px; ">
        <div class="col-sm-2" style="padding-left: 3px;">
          <label class="form-control"  style="border-radius:12px;padding: 10px;">Total </label>
        </div>
        <div class="col-sm-3" >
          <input  type="text"  style="border-radius: 12px;" name="total3" placeholder='0.00' class="form-control" id="total3">
        </div>
        <div class="col-sm-7" style="padding-left: 3px;" >
          <input  type="text " style="border-radius: 12px;" class="form-control" name="total4" placeholder='Enter in words'>
        </div>
      </div>

      

    </div>
      <br>
      <div class="container">
      <button type="submit"  style="border-radius: 12px; font-size:25px; " class="  btn btn-lg btn-block">SUBMIT</button>
    </div>
    </form>


  </section>
  </body>



