
<head>
  
  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>  
</head>
<body>
  <section style="padding-top:30px">
    <div class="container">
      <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px;">Registration </p></b></button>
       &emsp;
      <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Item Registration</p></b></button>
      <br>
    </div>

    <form (ngSubmit)="onSubmit1()" action="home-page">
      <div class="container-sm ">

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Item ID </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item ID" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control"  placeholder="" >
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Item Name </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item Name" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="item_name" placeholder="" >
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Item Description </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item Description" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="item_desc" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Item Barcode </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item Barcode" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control"  name="item_barcode" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Item Category </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item Category" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="item_category" placeholder="" >
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Item Unit </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Item Unit" > -->
          </div>
          <div class="col">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Primary </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Primary" > -->
          </div>
          <div class="col">
            <input type="text " style="border-radius:12px;" class="form-control"  name="item_unit_prim" placeholder="" >
          </div>
          <div class="col">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Secondary </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Secondary" > -->
          </div>
          <div class="col">
            <input type="text " style="border-radius:12px;" class="form-control" name="item_unit_sec"  placeholder="" >
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Opening Balance </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Opening Balance" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="open_balance" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Buying Price </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Buying Price" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="buying_price" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Selling Price </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Selling Price" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="sell_price" placeholder="" >
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Add Image </label>
            <!-- <input type="text" style="border-radius:12px;" class="form-control"  placeholder="Add Image" > -->
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control" name="image1" placeholder="Image-1" >
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control" name="image2" placeholder="Image-2" >
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control"name="image3"  placeholder="Image-3" >
          </div>
          <div class="col">
            <input type="file" id="myFile" style="border-radius:12px;" class="form-control" name="image4" placeholder="Image-4" >
          </div>
        </div>
        <script>
          function myFunction() {
            var x = document.getElementById("myFile");
            x.disabled = true;
          }
          </script>

      </div>


      <div class="container">
        <div class="row" style="padding-top: 15px;">

            <button type="submit" style="border-radius: 12px;width:100%;" class="btn btn-lg btn-block">Submit & Register New</button>





        </div>
      </div>
    </form>
    <br>
    <form (ngSubmit)="onSubmit2()" action="home-page">

      <button type="submit" style="border-radius: 12px;width: 80%;margin-left: 10%;margin-right: 50%;" class=" a btn btn-lg btn-block">Submit & Go to Home Page</button>
    </form>
    </section>
  </body>
