


.col-sm-4{
  padding-right: 3px;
  padding-left: 3px;
}
.col-sm-2{
padding-right: 2px;
padding-left: 14px;
}
.col-sm-3{
  padding-right: 3px;
  padding-left: 3px;
}
.col-sm-5{
padding-right: 3px;
padding-left: 3px;
}
.col-sm-7{
padding-right: 3px;
padding-left: 3px;
}

.col-6{
  padding-right: 3px;
  padding-left: 3px;
}
.col{
  padding-right: 3px;
  padding-left: 3px;
}
.btn{
  background-color: #808F9C;
}


.col-sm-10{
max-width: 95%;

}

  .col-sm-13{
    max-width: 95%;
}


.form-control{
  background-color: #B0BCD7;
height: 45px;
margin-bottom: 3px;
}



.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}



