<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
  <head>
  
    <style>
      body
      {
        font-family: 'Times New Roman', Times, serif;
      }
    </style>  
 </head>

<body>
  <section style="padding-top:30px">
    <div class="container">
      <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px;">Grand Hyper market </p></b></button>
       &emsp;
      <button type="submit"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">User Login</p></b></button>
      <br>
    </div>

    <form (ngSubmit)="onSubmit()" action="grand-hyper" name="myForm">
      <div class="container-sm ">

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Username </label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Username" > -->
          </div>
          <div class="col-sm-9">
            <input type="text " style="border-radius:12px;" class="form-control" name="uName" placeholder="" ng-model="myNames" required>
            <span ng-show="myForm.myNames.$touched && myForm.myNames.$invalid"></span>
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-3">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Password</label>
            <!-- <input type="text " style="border-radius:12px;" class="form-control"  placeholder="Password" > -->
          </div>
          <div class="col-sm-9">
            <input type="password" style="border-radius:12px;" class="form-control" name="upassword" placeholder="" ng-model="myName" required>
            <span ng-show="myForm.myName.$touched && myForm.myName.$invalid"></span>
          </div>
        </div>

      </div>

      <div class="container" style="padding-top: 50px;">
        <button type="submit"  style="border-radius: 12px; font-size:25px;" class="btn btn-lg btn-block">Login</button>

      </div>
    </form>
  </section>
  </body>

  </html>